<div class="shell">
  <aside class="hero">
    <img class="hero__img" src="images/hero-register-login.png" alt="" />

    <a class="brand" routerLink="/">
      <img src="images/logo.png" alt="" width="52" height="52" />
      <span>Confiance</span>
    </a>

    <div class="hero__content">
      <h2>{{ heroTitle() }}</h2>
      @if (heroSubtitle()) {
        <p class="hero__sub">{{ heroSubtitle() }}</p>
      }
      @if (heroItems().length) {
        <ul>
          @for (item of heroItems(); track item) {
            <li><app-icon name="check" [size]="18" /> {{ item }}</li>
          }
        </ul>
      }
    </div>
  </aside>

  <main class="panel">
    <div class="panel__inner">
      <a class="brand brand--mobile" routerLink="/">
        <img src="images/logo.png" alt="" width="44" height="44" />
        <span>Confiance</span>
      </a>
      <ng-content />
    </div>
  </main>
</div>
